<div class="modal show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          {{#link-to "items.index" class="close"}}&times;{{/link-to}}
          <h4 class="modal-title">Edit - {{model.title}}</h4>
      </div>
      <div class="modal-body">
          {{partial 'items/form'}}
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
